body{
font-size: 20px;
width: 100%;
height: 400vh;
background-color: #5b6995;
color: white;
}   
  .Top{
width: 80%;
 }

.container img{
width: 100%;
margin: 0% 5% 15% 12%;
position: center;
}

.row{ 
color: white;
font-size: 15px;
}

.players {
margin: 0% 0% 0% 0%; 
padding: 0px 0px 0px 350px;
}

.goal {
text-align: center;
margin: 0% 0% 0% 0%;
padding: 0px 75px 0px 280px;
}

.events{ 
margin: 0% 0% 0% 0%; 
padding-top: 70px;
}

.row { 
color: white;
}

.container {
width: 100%
}

.rosters { 
margin: 0% 0% 0% 0%;
padding: 0px 100px;

}

.tournaments { 
margin: 0% 0% 0% 0%;
padding: 0px 500px;
padding-top: 70px;
}







