 <style> 

html { overflow-y: scroll; }

  *{margin: 0; padding: 0;}
body{font-size: 15px;}   
  .Top{position: relative; width: 100%; margin: 0 auto;}
.Top img{width: 100%;}
.heading{color: white; position: absolute; top 50%; width: 100%; text-align: center;}

</style>
	